<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-submissions">
				<div class="card-header">
					<h5 class="card-title">Total Submissions</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{total_submissions}}</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="confirmed-submissions">
				<div class="card-header">
					<h5 class="card-title"> Confirmed Submissions </h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{confirmed_submissions}}</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="pending-submissions">
				<div class="card-header">
					<h5 class="card-title"> Pending Submissions </h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{pending_submissions}}</h3>
				</div>
			</div>
		</div>
	</div>
</div>